* {
    text-align: center;
    font-family: "Comic Sans MS";
    font-size: 30px;
}

input {
    background-color: rgba(157,157,157,0.58);
}

h1 {
    font-size: 40px;
}

hr {
    margin-bottom: 3rem;
}